<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RhinoWASD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <RhinoWASD.Properties.Settings>
            <setting name="InfoAtStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Resolution" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>1920</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>1080</value>
            </setting>
            <setting name="KeepRatio" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GridAndAxes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DPI" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="Portrait" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Speed" serializeAs="String">
                <value>5</value>
            </setting>
        </RhinoWASD.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
